<ul>
  <% @list.each do |bookmark| %>
  <li>
  <a href="<%= bookmark.url %>">
     <%= bookmark.title %>
     </a>
  </li>
  <% end %>
</ul>


<form action='/bookmarks/new' method='post'>
  URL: <input type='text' name='url'>
  Title: <input type="text" name="title">
  <input type='submit' value='Submit'>
</form>
